
@import "nav.css";

@import "section.css";

@import "cards.css";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@400;500&family=Gloock&family=Lora:ital,wght@0,400;0,500;1,400&family=Merriweather:wght@300;400&family=Roboto:wght@400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
}


body{

  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Lora', serif;
font-weight: 400;
font-size: 1.5em;
}
